@import '/src/styles/constants';

.mat-tooltip {
    background: $project-light-green;
    border: 1px solid $project-black;
    font-size: 25px;
    color: $project-dark-grey !important;
    border-radius: 0;
    padding: 35px 30px 35px 20px;
    width: fit-content;
}

.loan-calendar {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 45px 150px 300px 100px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 20px;
        margin: 0;
        cursor: pointer;
        width: fit-content;
    }

    h3 {
        font-size: 30px;
        margin: 35px 0 30px 0;
        width: fit-content;
    }

    p, h3 {
        font-weight: 300;
        color: $project-dark-grey;
    }

    .days-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 22px;
        row-gap: 25px;
        margin-bottom: 85px;

        &-item {
            font-size: 30px;
            margin: 0;
            padding: 10px 20px;
            border-radius: 50%;
            background: $project-light-blue;
            color: $project-white;
            cursor: pointer;
        
            &-past {
                background: #7C7979;
            }

            &-today {
                background: $project-gold;
            }
        }
    }
}