<div class="loan-calendar">
    <p (click)="shiftMonthLeft()">... к {{getMonthName(-1, true)}}</p>

    <h3>{{getMonthName(0)}}</h3>

    <div class="days-list">
        <div class="days-list-item" *ngFor="let day of currentMonthDays; trackBy trackByDay"
            [class.days-list-item-past]="day.isPrev" [class.days-list-item-today]="day.isToday" mat-raised-button
            (mouseover)="setData(day.value, day.month, day.year)" [matTooltip]="toolTip">
            {{day.value}}
        </div>
    </div>


    <h3>{{getMonthName(1)}}</h3>

    <div class="days-list">
        <div class="days-list-item" *ngFor="let day of nextMonthDays; trackBy trackByDay"
            [class.days-list-item-past]="day.isPrev" 
            (mouseover)="setData(day.value, day.month, day.year)" [class.days-list-item-today]="day.isToday"
            mat-raised-button [matTooltip]="toolTip">
            {{day.value}}</div>
    </div>


    <h3>{{getMonthName(2)}}</h3>

    <div class="days-list">
        <div class="days-list-item" *ngFor="let day of nextNextMonthDays; trackBy trackByDay"
            [class.days-list-item-past]="day.isPrev"
            [class.days-list-item-today]="day.isToday" (mouseover)="setData(day.value, day.month, day.year)"
            mat-raised-button [matTooltip]="toolTip">
            {{day.value}}</div>
    </div>

    <p (click)="shiftMonthRight()">... к {{getMonthName(3, true)}}</p>
</div>