<div class="loan-calendar">
    <p (click)="shiftMonthLeft()">... к {{getMonthName(-1, true)}}</p>

    <h3>{{getMonthName(0)}}</h3>

    <div class="days-list">
        <div class="days-list-item" *ngFor="let day of currentMonthDays; trackBy trackByDay"
            [class.days-list-item-past]="day.isPrev" [class.days-list-item-today]="day.isToday" mat-raised-button
            matTooltip="оставшаяся сумма выплаты на {{day.value}} число составит {{dayToolTip(day.value, day.month, day.year) | async}}" showDelay="300">
            {{day.value}}
        </div>
    </div>


    <h3>{{getMonthName(1)}}</h3>

    <div class="days-list">
        <div class="days-list-item" *ngFor="let day of nextMonthDays; trackBy trackByDay" [class.days-list-item-past]="day.isPrev"
            [class.days-list-item-today]="day.isToday" mat-raised-button matTooltip="оставшаяся сумма выплаты на {{day.value}} число составит {{dayToolTip(day.value, day.month, day.year) | async}}">
            {{day.value}}</div>
    </div>


    <h3>{{getMonthName(2)}}</h3>

    <div class="days-list">
        <div class="days-list-item" *ngFor="let day of nextNextMonthDays; trackBy trackByDay" [class.days-list-item-past]="day.isPrev"
            [class.days-list-item-today]="day.isToday" mat-raised-button matTooltip="оставшаяся сумма выплаты на {{day.value}} число составит {{dayToolTip(day.value, day.month, day.year) | async}}">
            {{day.value}}</div>
    </div>

    <p (click)="shiftMonthRight()">... к {{getMonthName(3, true)}}</p>
</div>