@import 'styles/constants';

html,
body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    background: $project-white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: background-color .3s ease-in;

    @include styles-for-calendar();
}

.body-grey {
    background: $project-dark-grey !important;

    .profile-menu-image {
        content: url('/assets/blur-green-3.svg') !important;
    }
}