<div class="agreement-block">

    <h2>Сведения об операторе персональных данных</h2>
    <p>
        ООО «ЕЗАЙМ» (почтовый адрес: 220114, г. Минск, пр-т Независимости, д.173, 12 этаж, г. Минск, Республика
        Беларусь, юридический адрес: 220033, г. Минск, пр-т Партизанский, д. 2, корп. 1, пом. 1, каб. 17, УНП 101011505
        ) (далее – «Компания») осуществляет сбор персональных данных
        берущих займ (далее – «Клиентов») через сайт https://ezaim.com/ (далее – «Сайт») для их последующей обработки,
        передачи и хранения.
    </p>
    <h2>Цели</h2>
    <p>
        Чтобы убедиться что вам не мало лет.
    </p>
    <h2>Собираемые и обрабатываемые данные</h2>
    <p>
        Для обработки и хранения Компания собирает следующие персональные данные Клиентов:

        фамилия, имя, отчество, дата рождения;
        серия и номер паспорта;
        индивидуальный идентификационный номер;
        дата выдачи паспорта, дата окончания паспорта и сведения об органе, выдавшем паспорт и тд.
    </p>
    <h2>Действия с персональными данными и способы обработки</h2>
    <p>
        В отношении персональных данных Компания совершает любые действия (операций) или совокупности действий
        (операций),
        включая сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу
        третьим
        лицам, обезличивание, блокирование, удаление, уничтожение персональных данных, совершаемые любыми способами, как
        с
        использованием средств автоматизации автоматизированных информационных систем Компании, так и без их
        использования.
    </p>
    <h2>Третьи лица</h2>
    <p>
        Компания является юридическим лицом, исполняющим требования законодательства Республики Беларусь, в связи с чем
        предоставляет персональные данные Клиентов государственным органам Республики Беларусь в порядке, установленном
        законодательством.
    </p>
    <h2>Согласие</h2>
    <p>
        Настоящим я даю свободно, своей волей и в своем интересе свое конкретное, информированное и сознательное
        согласие на обработку и передачу Компанией перечисленных персональных данных в указанных целях.
    </p>
</div>