<app-common-navigation title="оформление займа">
</app-common-navigation>
<div class="new-loan-form-container">
    <div class="new-loan-form-container-header"></div>
    <ng-container *ngIf="canTakeNewLoan; else cantTakeLoanMessage">
        <div class="new-loan-form" [formGroup]="newLoanFormGroup">
            <div class="new-loan-form-blocks">
                <div class="new-loan-form-blocks-block new-loan-form-blocks-block-main">
                    <div class="new-loan-form-blocks-block-label">
                        ЗАЙМ НА СУММУ
                    </div>
                    <input class="new-loan-form-blocks-block-input" formControlName="sum" (input)="onInputChange()">
                </div>
                <div class="new-loan-form-blocks-block">
                    <div class="new-loan-form-blocks-block-label">
                        ВАЛЮТА
                    </div>
                    <select class="new-loan-form-blocks-block-input new-loan-form-blocks-block-input-select"
                        formControlName="currency" (change)="onInputChange()">
                        <option *ngFor="let cur of currencies" [ngValue]="cur.id">{{cur.name}}</option>
                    </select>
                </div>
                <!-- <div class="new-loan-form-blocks-block">
                <div class="new-loan-form-blocks-block-label">
                    НОМЕР ТЕЛЕФОНА
                </div>
                <div class="new-loan-form-blocks-block-input">
                    +375 29 333 44 55
                </div>
            </div> -->
            </div>

            <div class="new-loan-form-block-sum">
                <h3>
                    ЗАЙМ НА СУММУ {{inputSum}} {{getCurrencyName(currentCurrency)}} С {{displayPercent}}% ЕЖЕМЕСЯЧНЫХ
                </h3>
            </div>

            <div class="new-loan-form-block-card" (click)="confirmCreatingLoan()">
                <h4>перейти к данным по карте</h4>
                <div class="new-loan-form-block-card-img"></div>
            </div>

        </div>
    </ng-container>

    <ng-template #cantTakeLoanMessage>
        <div class="new-loan-form-container-message">
            <h1>Вы достигли лимита по займам</h1>
            <p>Погасите текущие займы</p>
        </div>
    </ng-template>
</div>