<app-common-navigation title="оформление займа">
</app-common-navigation>
<div class="new-loan-form-container">
    <div class="new-loan-form-container-header"></div>
    <div class="new-loan-form" [formGroup]="newLoanFormGroup">
        <div class="new-loan-form-blocks">
            <div class="new-loan-form-blocks-block new-loan-form-blocks-block-main">
                <div class="new-loan-form-blocks-block-label">
                    ЗАЙМ НА СУММУ
                </div>
                <input class="new-loan-form-blocks-block-input" formControlName="sum">
            </div>
            <div class="new-loan-form-blocks-block">
                <div class="new-loan-form-blocks-block-label">
                    НОМЕР ТЕЛЕФОНА
                </div>
                <div class="new-loan-form-blocks-block-input">
                    +375 29 333 44 55
                </div>
            </div>
        </div>

        <div class="new-loan-form-block-sum">
            <h3>
                ЗАЙМ НА СУММУ {{inputSum}} BYN С {{calculatedPercent}}% ЕЖЕМЕСЯЧНЫХ
            </h3>
        </div>

        <div class="new-loan-form-block-card">
            <h4>перейти к данным по карте</h4>
            <div class="new-loan-form-block-card-img"></div>
        </div>

    </div>
    <!-- <div class="payment-card-form">
        <div class="payment-card-form-block">
            <div class="payment-card-form-block-label">НОМЕР КАРТЫ</div>
            <div class="payment-card-form-block-input"></div>
        </div>
        <div class="payment-card-form-block payment-card-form-block-horizontal">

        </div>
        <div class="payment-card-form-block">
            <div class="payment-card-form-block-label">ИМЯ ФАМИЛИЯ</div>
            <div class="payment-card-form-block-input"></div>
        </div>
        <div class="payment-card-form-buttons">

        </div>
    </div> -->


</div>