@import '/src/styles/constants';
// @include styles-for-calendar();

:host {
    display: contents;
}

.auth {
    width: 100%;
    height: 100%;

    &-sign-up {
        height: fit-content;
        display: flex;

        .auth {

            &-form {
                row-gap: 250px;

                &-submit-section {
                    margin-bottom: 150px;
                    margin-top: -150px;
                    margin-left: 5%;
                    max-width: 980px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    letter-spacing: 3px;
                }

                &-agreement {
                    margin-top: -200px;
                    &-container {
                        margin-left: 5%;
                        margin-right: 5%;
                    }

                    &-action {
                        color: $project-medium-purple;
                        margin-left: 5%;
                        cursor: pointer;
                        font-size: 120%;
                        font-weight: 700;
                    }
                }
            }

            &-title-vertical {
                align-self: flex-start;
            }

            &-form-container {
                position: initial;
                align-self: center;
                width: 100%;
            }

        }
    }

    &-title-vertical {
        font-size: 125px;
        font-weight: 500;
        letter-spacing: 30px;
        writing-mode: vertical-lr;
        text-orientation: revert;
        position: sticky;
        transform: rotate(180deg);
        top: 25%
    }

    &-form-container,
    &-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
    }

    &-form-container {
        right: 0;
    }

    &-image {
        &-login {
            right: 0;
            content: url('/assets/auth-login-image.svg');
        }

        &-sign-up-1 {
            content: url('/assets/auth-sign-up-image-1.svg');
        }

        &-sign-up-2 {
            content: url('/assets/auth-sign-up-image-2.svg');
            transform: rotate(-8.03deg);
        }

        &-sign-up-3 {
            content: url('/assets/auth-sign-up-image-3.svg');
        }
    }

    &-form-container {
        width: fit-content;
        height: fit-content;
    }

    &-form {
        display: flex;
        flex-direction: column;

        &-checkbox-section {
            margin-left: 5%;
            display: flex;
            align-items: center;

            input[type="checkbox"] {
                cursor: pointer;
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                margin: 0;
            }

            input[type="checkbox"] {
                appearance: none;
                background-color: #D0B5E0;
                margin: 0;
                color: $project-white;
                border: 1px solid $project-black;

                display: grid;
                place-content: center;

            }

            input[type="checkbox"]::before {
                width: 30px;
                height: 30px;
                content: "";
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 20px 30px #5B2F77;
                transform-origin: bottom left;
                // clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                clip-path: polygon(45% 60%, 67% 30%, 84% 4%, 100% 31%, 68% 70%, 45% 95%, 5% 56%, 24% 34%);
            }

            input[type="checkbox"]:checked::before {
                transform: scale(1);
            }

            p {
                margin: 0 20px 1px 20px;
                font-size: 20px;
                font-weight: 300;

                span {
                    color: #8A6EC7;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        &-block {
            &-sections {
                margin-left: 5%;
                display: flex;
                flex-direction: column;
                max-width: calc(150px + 770px + 80px);
                column-gap: 150px;
                flex-direction: row;
                flex-wrap: wrap;

                &-horizontal {
                    flex-direction: row;
                    margin-bottom: -150px;
                }
            }

            position: relative;

            &-without-image {
                margin-top: -180px;
            }


            &-headers,
            &-button {
                margin-left: 5%;
                max-width: calc(150px + 770px + 80px);
            }

            &-headers {
                display: flex;
                justify-content: space-between;

                h3 {
                    z-index: 5;
                    font-size: 40px;
                    font-weight: 300;
                    letter-spacing: 3px;
                }
            }

            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 60px;

                button {
                    z-index: 5;
                    color: #A189B0;
                    background: $project-white;
                    border-radius: 15px;
                    font-size: 25px;
                    border: none;
                    padding: 10px 10px;
                    letter-spacing: 3px;
                    cursor: pointer;
                    border: 1px solid $project-white;
                    transition: 0.5s;
                    -webkit-transition: 0.5s;

                    &:hover {
                        color: #8A6EC7;
                        border: 1px solid #8A6EC7;
                    }
                }
            }
        }

        &-label,
        &-input {
            max-width: 365px;
        }

        &-label {
            max-width: 375px;
        }

        &-section {
            display: flex;
            flex-direction: column;
            z-index: 5;
        }

        &-input,
        &-input:-webkit-autofill,
        &-input:-webkit-autofill::first-line,
        &-input:-webkit-autofill:hover,
        &-input:-webkit-autofill:focus {
            font-size: 30px;
        }

        &-label {
            font-family: 'IBM Plex Sans', sans-serif;
            letter-spacing: 2px;
            font-size: 27px;
            color: $project-white;
            background: #B778A1;
            margin-bottom: 5px;
            padding-left: 15px;
            margin-left: 15px;
            margin-right: 5px;
            min-height: 35px;
            max-height: fit-content;
            overflow-wrap: break-word;

            &-alt {
                background: #62ABCB;
            }
        }

        &-input {
            border: none;
            background: $project-white;
            padding: 10px;

            &:focus {
                outline: none;
            }

            margin-bottom: 50px;
            box-shadow: -6px 5px 0px $project-dark-grey;
        }

        &-input.ng-touched.ng-invalid {
            background: $control-error-background;
            box-shadow: -6px 5px 0px $control-error;
        }

        &-submit {
            color: #A0006A;
            font-size: 40px;
            font-family: 'IBM Plex Sans', sans-serif;
            background: none;
            border: none;
            cursor: pointer;

            &.disabled {
                color: $project-light-grey;
            }
        }

        &-switch {
            color: #FFD4F1;
            font-size: 25px;
            background: none;
            border: none;
            cursor: pointer;
            margin-top: 30px;
        }

        &-date {
            position: relative;
            display: flex;

            &-img {
                position: absolute;
                right: 15px;
                top: 10px;
                content: url('/assets/calendar.svg');
                width: 35px;
                height: 35px;
                z-index: 7;
            }
        }

        &-select {
            font-size: 30px;
            padding-right: 150px;
            min-width: 365px;
        }
    }

    &-sign-up-sub-menu {
        margin-top: 100px;
        margin-left: 5%;
        display: flex;
        margin-bottom: 100px;
        align-items: center;

        &-item {
            cursor: pointer;
            font-weight: 400;
            font-size: 25px;
            color: #AE3184;
            margin-right: 60px;
        }

        &-item:first-child {
            cursor: default;
            font-size: 40px;
            color: $project-dark-grey;
        }
    }
}