<app-common-navigation title="мой займ">
</app-common-navigation>
<div class="loan">
    <div class="loan-data">
        <div class="loan-data-amount">
            <p>
                ИЗНАЧАЛЬНАЯ
            </p>
            <p>
                СУММА
            </p>
            <p>
                ЗАЙМА
            </p>
            <p>
                {{loan?.amount}} {{getCurrencyName(loan?.currency)}}
            </p>
        </div>
        <div class="loan-data-status">
            <p>СТАТУС ЗАЙМА: <span class="loan-data-status-white">{{ loan?.is_active ? 'НЕ ПОГАШЕН' : 'ПОГАШЕН' }}</span></p>
            <p>ОСТАВШАЯСЯ СУММА ВОЗВРАТА: <span class="loan-data-status-black">{{loan?.remaining_amount}} {{getCurrencyName(loan?.currency)}}</span></p>
        </div>
        <div class="loan-data-empty">
            <p *ngIf="isActiveLoan" (click)="onStartMakingPayment()">СОВЕРШИТЬ ПЛАТЕЖ ?</p>
        </div>
        <div class="loan-data-info">
            <p>ДАТА ОФОРМЛЕНИЯ ЗАЙМА: <span class="loan-data-info-gold">{{getFormattedDate}}</span></p>
            <p>ЗАЙМ ПОД <span class="loan-data-info-gold">{{getPercentValue(loan?.percent)}}%</span> ЕЖЕМЕСЯЧНЫХ</p>
        </div>
    </div>
    <ng-container *ngIf="isPaymentFormOpened">
        <div class="loan-payment-form" [formGroup]="paymentFormGroup">
            <div class="loan-payment-form-block">
                <label class="loan-payment-form-block-label">Сумма</label>
                <input type="number" class="loan-payment-form-block-input" formControlName="amount">
            </div>
            <div class="loan-payment-form-buttons">
                <button class="loan-payment-form-buttons-action" (click)="closePaymentForm()">
                    Свернуть
                </button>
                <button class="loan-payment-form-buttons-action" (click)="confirmPayment()">
                    Перейти к данным по карте
                </button>
            </div>
        </div>
    </ng-container>
    <app-loan-calendar [loanId]="loanId"></app-loan-calendar>
</div>