@import '/src/styles/constants';

.loan {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &-data {
        display: grid;
        grid-gap: 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 40px;
        grid-template-columns: 25% 20% auto;

        &-amount {
            color: $loan-amount-text;
            background: $loan-amount-background;
            width: 100%;
            padding-left: 60px;

            p {
                white-space: initial;
                margin: 0;
            }

            p:first-child {
                margin-top: 40px;
            }

            p:last-child {
                margin-top: 10px;
                text-decoration: underline;
                font-size: 50px;
            }

            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: span 2;
        }

        &-status {
            color: $loan-status-text;
            background: $loan-status-background;
            grid-row: 1;
            grid-column-start: 2;
            grid-column-end: 4;
            padding-right: auto;

            &-white {
                color: $project-white;
                text-decoration: underline;
            }

            &-black {
                color: $project-dark-grey;
                font-size: 50px;
                text-decoration: underline;
            }
        }

        &-empty {
            background: $project-black;
            width: 100%;
            grid-row: 2;
            grid-column: 2;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            p {
                cursor: pointer;
                margin: 0 0 5px 0;
                white-space: break-spaces;
                max-width: 80%;

                width: fit-content;
                transition: .5sec;
                -webkit-transition: 0.5s;
                color: $project-white;
            }

            &:hover {
                p {
                    color: $project-gold;
                    box-shadow: 0px 3px 0px $project-white;
                }
            }
        }

        &-info {
            color: $loan-info-text;
            background: $loan-info-background;
            grid-row: 2;
            grid-column: 3;

            &-gold {
                color: $project-gold;
            }
        }

        &-info,
        &-status p {
            padding-left: 30px;
        }

    }
}