<app-common-navigation title="мой займ">
</app-common-navigation>
<div class="loan">
    <div class="loan-data">
        <div class="loan-data-amount">
            <p>
                ИЗНАЧАЛЬНАЯ
            </p>
            <p>
                СУММА
            </p>
            <p>
                ЗАЙМА
            </p>
            <p>
                {{loan?.amount}}
            </p>
        </div>
        <div class="loan-data-status">
            <p>СТАТУС ЗАЙМА: <span class="loan-data-status-white">НЕ ПОГАШЕН</span></p>
            <p>ОСТАВШАЯСЯ СУММА ВОЗВРАТА: <span class="loan-data-status-black">{{loan?.remaining_amount}}</span></p>
        </div>
        <div class="loan-data-empty">

        </div>
        <div class="loan-data-info">
            <p>ДАТА ОФОРМЛЕНИЯ ЗАЙМА: <span class="loan-data-info-gold">{{getFormattedDate}}</span></p>
            <p>ЗАЙМ ПОД <span class="loan-data-info-gold">{{loan?.percent}}</span> ЕЖЕМЕСЯЧНЫХ</p>
        </div>
    </div>
    <app-loan-calendar></app-loan-calendar>
</div>