<app-common-navigation title="мой займ">
</app-common-navigation>
<div class="loan">
    <div class="loan-data">
        <div class="loan-data-amount">
            <p>
                ИЗНАЧАЛЬНАЯ
                СУММА
                ЗАЙМА
            </p>
            <p>
                10 000 BYN
            </p>
        </div>
        <div class="loan-data-status">
            <p>СТАТУС ЗАЙМА: НЕ ПОГАШЕН</p>
            <p>ОСТАВШАЯСЯ СУММА ВОЗВРАТА: 12 553 BYN</p>
        </div>
        <div class="loan-data-empty">

        </div>
        <div class="loan-data-info">
            <p>ДАТА ОФОРМЛЕНИЯ ЗАЙМА: 01.09.2022</p>
            <p>ЗАЙМ ПОД 5% ЕЖЕМЕСЯЧНЫХ</p>
        </div>
    </div>
</div>