@import '/src/styles/constants';

:host {
    width: 100%;
}
.profile-data {
    width: 100%;

    &-title {
        &-first {
            color: $project-medium-grey;
            margin: 0 0 5px 0
        }
        
        &-second {
            border: none;
            font-weight: bold;
            color: $project-medium-purple;
            margin: 5px 0 50px 0;
            font-size: 30px;
        }
    }

    &-separator {
        height: 32px;
        background-image: url('/assets/user-profile-separator.svg');
        width: 100%;
    }

    &_form {
        &-block {

            margin: 45px 0 0 25px;

            display: flex;
            flex-direction: column;
            label, input {
                font-size: 30px;
            }
            label {
                margin-bottom: 5px;
            }

            input {
                width: fit-content;
                outline: none;
                border: none;
                border-bottom: 1px solid $project-dark-grey;
            }

            .card-delete-button {
                border-radius: 10px;
                color: $project-white;
                background:$project-dark-grey;
                border: 1px solid #005E87;
            }

        }
    }

    &-switch-mode {
        border: none;
        background: transparent;
        font-size: 20px;
        color: #005E87;
        cursor: pointer;
        margin: 15px 0 0 25px;
        display: flex;
        align-items: center;
        &-img {
            width: 25px;
            height: 25px;
            content: url('/assets/profile-data-edit.svg');
        }
    }
}