.profile-menu {
    margin: 0;
    list-style-type: none;
    li {
        font-weight: bold;
        font-size: 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 15px;
    }
}