$project-white: #fff;
$project-black: #000;
$project-light-purple: #9D7EB0;
$project-medium-purple: #72044C;
$project-light-green: #9BF1D3;
$project-light-blue: #83D1F2;
$project-blue: #1190C6;
$project-dark-grey: #2E2929;
$project-light-grey: #E6E6E6;
$project-medium-grey: #6A646F;
$project-gold: #D3BF04;

$loan-card-blue: #CAEFFF;
$loan-card-blue-hover: #90CCE5;
$loan-card-border-blue: #1190C6;
$loan-card-shadow: #A5A5A5;

$loan-card-light-purple: #D7A4C5;
$loan-card-light-purple-hover: #D08EBA;
$loan-card-shadow-light-purple: #2E2E2E;
$loan-card-light-blue: #3F6677;
$loan-card-purple: #620C45;

$loan-amount-text: $project-dark-grey;
$loan-amount-background: #CDFCEB;
$loan-status-text: #FFFFD2;
$loan-status-background: $project-light-purple;
$loan-info-text: $project-dark-grey;
$loan-info-background: $project-light-green;

$control-error:#AC0000;
$control-error-header: #8D0707;

@mixin styles-for-calendar() {
    .cdk-overlay-container {
        position: fixed;
        z-index: 60;
        width: fit-content;
        top: 35%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .cdk-live-announcer-element {
        display: none;
    }

    .mat-datepicker-content {
        background: $project-white;
        box-shadow: -3px 3px 5px $project-dark-grey;
    }

    .mat-calendar-body-cell-content:hover {
        background-color: #9D7EB0;
    }
}