$project-white: #fff;
$project-black: #000;
$project-light-purple: #9D7EB0;
$project-medium-purple: #72044C;
$project-light-green: #9BF1D3;
$project-light-blue: #83D1F2;
$project-blue: #1190C6;
$project-dark-grey: #2E2929;
$project-light-grey: #E6E6E6;
$project-medium-grey: #6A646F;