@import '/src/styles/constants';

.telegram-accounts {
    width: 100%;
    align-items: center;
    justify-content: center;

    &,
    &-confirmed,
    &-not-confirmed {
        display: flex;
        flex-direction: column;
    }

    .confirm-action {
        color: $project-gold;
        cursor: pointer;
        font-family: 'IBM Plex Sans', sans-serif;
        
    }

    .delete-action {
        color: rgb(114, 3, 3);
        cursor: pointer;
        font-family: 'IBM Plex Sans', sans-serif;

    }

    &-confirmed {

    }

    p {
        margin: 5px 10px;
        font-size: 25px;
    }

    li {
        display: flex;

    }
}