<div class="home-page">
    <div class="home-page-section-1">
        <div class="home-page-section-1-headers">
            <h1>ВЗЯТИЕ ЗАЙМА ОНЛАЙН</h1>
            <h2>БЫСТРО</h2>
            <h2>УДОБНО</h2>
            <h2>ПО ВЫГОДНОМУ ПРОЦЕНТУ</h2>
        </div>
        <div class="home-page-section-1-img"></div>
    </div>
    <div class="home-page-section-2">
        <h1 class="home-page-section-2-blue">Нас выбирают представители бизнеса</h1>
        <h1 class="home-page-section-2-purple">И физические лица</h1>
    </div>
    <div class="home-page-section-3">
        <div class="home-page-section-3-block">
            <h1>120</h1>
            <p>оформленных
                займов
                юр. лицам
                в 2022 году</p>
        </div>
        <div class="home-page-section-3-block">
            <h1>1000+</h1>
            <p>оформленных
                займов
                физическим лицам
                в 2022 году
            </p>
        </div>
    </div>
    <div class="home-page-section-4">
        <div class="home-page-section-4-content">
            <h3 routerLink="/auth">Перейти к регистрации</h3>
            <div class="home-page-section-4-content-img"></div>
        </div>
    </div>
</div>